name: Docker compose Build
on:
  workflow_dispatch:
  delete: 
  create: 
  push:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build the Image
        run: docker compose build --no-cache
